main {
    padding: 20px;
    height: auto;
    width: 100%;
}

.hp {
    width: 70%;
}

.all {
    color: var(--color-deepwood);
    max-width: 1200;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.all h1{
    text-align: center;
}

.per-info {
    background-color: #fff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.per-info h3 {
    color: var(--color-deepwood);
    border-bottom: 2px solid var(--color-matchabrew);
    padding-bottom: 10px;
    margin-bottom: 25px;
}

.logon{
    text-align: center;
}

.logon i {
    font-size: 5rem;
}

.left {
    display: flex;
    align-items: center;
    gap: 30px;
}

.details p {
    margin: 12px 0;
    font-size: 1.1rem;
    color: var(--color-green);
}

.details strong {
    display: inline-block;
    width: 100px;
    color: var(--color-eclipse);
}

@media(max-width:700px) {
    .left {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}

@media(max-width:426px){
    .logon i{
        font-size: 4rem;
    }
    .details {
        font-size: 15px;
    }
}