@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/background-book.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.h-form {
    background: rgba(255, 255, 255, 0.95);
    padding: 30px;
    border-radius: 15px;
    margin: 5%;
}

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.h-form h1 {
    color: var(--color-deepwood);
    margin-bottom: 20px;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    font-weight: 700;
}

.content input,
.content select {
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    outline: none;
    border: 2px solid #e0e0e0;
    font-size: 20px;
    font-weight: 600;
}

.content input::placeholder {
    color: #757575;
}

.content input:hover,
.content select:hover {
    border: 2px solid #b0bbc1;
}

.content input:focus,
.content select:focus {
    border: 2px solid var(--color-matchabrew);
    box-shadow: 0 0 8px rgba(68, 176, 11, 0.2);
}

label {
    font-size: 18px;
    color: var(--color-matchabrew);
    font-weight: 550;
    margin-bottom: 8px;
    text-align: left;
    margin-left: 5px;
}

form button {
    padding: 15px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    outline: none;
    background-color: var(--color-matchabrew);
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    color: white;
    transition: all ease 0.3s;
}

form button:hover {
    background-color: var(--color-deepwood);
}


.table {
    padding: 3%;
    background-color: var(--color-green);
    overflow-x: auto;
}

table {
    width: 100%;
    color: var(--color-almond);
}

table td {
    text-align: center;
}

table tbody tr td .upd {
    background-color: var(--color-matchabrew);
    color: white;
    border: none;
    padding: 4px;
    border-radius: 4px;
    transition: 0.5s;
    margin-bottom: 4px;
    cursor: pointer;
}

table tbody tr td .upd:hover {
    background-color: var(--color-deepwood);
    transform: scale(1.05);
}

table tbody tr td .del {
    background-color: red;
    color: white;
    border: none;
    padding: 4px;
    border-radius: 4px;
    transition: 0.5s;
    margin-bottom: 4px;
    cursor: pointer;
}


table tbody tr td .del:hover {
    background-color: rgb(197, 34, 34);
    transform: scale(1.05);
}

.delall {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    color: white;
    background-color: rgb(186, 46, 46);
    border: none;
    outline: none;
    border-radius: 10px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s;
}

.delall:hover {
    background-color: rgb(136, 31, 31);
    transform: scale(1.05);
}


@media (max-width:480px) {
    .h-form {
        width: 300px;
    }

    .content input,
    .content select {
        width: 250px;
        transform: translateX(-15px);
    }

    .table {
        font-size: 0.7rem;
    }
}