* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--color-almond);
    background-color: var(--color-forestfloor);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass-box {
    width: 90%;
    padding: 25px;
    max-width: 350px;
    border-radius: 15px;
    background: color-mix(in srgb, var(--color-eclipse) 50%, transparent);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    transform: translateY(80px);
}

.glass-box h2 {
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    color: var(--color-matchabrew);
    text-shadow: 1px 3.5px 7px rgba(0, 0, 0, 0.3);
}

.glass-box p {
    margin: 5px;
    color: var(--color-matchabrew);
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 3.5px 7px rgba(0, 0, 0, 0.3);
}

.glass-box a {
    color: var(--color-fernwhisper);
    text-decoration: none;
    transition: all 0.3;
}

.glass-box a:hover {
    color: white;
    text-decoration: underline;
}

.input-box {
    margin: 15px 0;
}

.input-box input {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 1rem;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.input-boxS {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.input-boxS input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    font-size: 0.9rem;
    border: none;
    outline: none;
    color: var(--color-matchabrew);
}

.input-boxS label {
    display: block;
    width: fit-content;
    padding: 4px;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    color: var(--color-matchabrew);
}

input::placeholder {
    color: #757575;
}

input:focus {
    border: 2px solid var(--color-matchabrew);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

main button {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 8px;
    background: var(--color-matchabrew);
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

main button:hover {
    cursor: pointer;
    background: var(--color-deepwood);
}

main .social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

main .social-icons a {
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-fernwhisper);
    font-size: 20px;
    transition: 0.3s ease;
    text-decoration: none;
}

main .social-icons a:hover {
    background: white;
    color: #5E4B2B;
    transform: translateY(-5px);
    text-decoration: none;
}

#theme-selector,
#bg-selector {
    outline: none;
}

@media (max-width: 480px) {
    .glass-box p {
        font-size: 1rem;
    }
}